<manifest package="com.mridang.warning"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="4"
          android:versionName="0.4">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/ExtensionTheme">
        <service
            android:name="com.mridang.warning.WarningWidget"
            android:icon="@drawable/ic_dashclock"
            android:label="@string/extension_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension"/>
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2"/>
            <meta-data
                android:name="worldReadable"
                android:value="true"/>
            <meta-data
                android:name="description"
                android:value="@string/extension_info"/>
            <meta-data
                android:name="settingsActivity"
                android:value=".WidgetSettings"/>
        </service>

        <activity
            android:name="com.mridang.warning.WidgetSettings"
            android:exported="true"
            android:label="@string/preferences_title"/>
        <activity
            android:name="com.mridang.warning.WarningActivity"
            android:exported="true"
            android:label="@string/problem_activity"/>

    </application>

</manifest>
